body {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.navbar {
  margin-bottom: 50px;
}

#map {
    height: 600px;
    width: 1000px;
    background-color: red;
    margin: 0;
}

img {
  width: 200px;
}

.link-card{
  text-decoration: none;
  color: black;
}

.link-card:hover{
  text-decoration: none;
  color: black;
}
