<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Edit restaurant details</h1>
            <hr>

            <form action="/restaurants/edit/{{id}}" method="POST">

                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" value={{name}}>
                </div>
                <div class="form-group">
                    <label for="img">Profile Picture:</label>
                    <input type="text" class="form-control" id="img" name="profileImg" value={{profileImg}}>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>
                <div>
                    <p>Food Specialties:</p>
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="pizza">
                        <label class="form-check-label" for="inlineCheckbox1">Pizza</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="hamburguer">
                        <label class="form-check-label" for="inlineCheckbox2">Hamburguer</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="sushi">
                        <label class="form-check-label" for="inlineCheckbox2">Sushi</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="chinese">
                        <label class="form-check-label" for="inlineCheckbox2">Chinese</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="veggie">
                        <label class="form-check-label" for="inlineCheckbox2">Veggie</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="japanese">
                        <label class="form-check-label" for="inlineCheckbox2">Japanese</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="poke">
                        <label class="form-check-label" for="inlineCheckbox2">Poke</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="dessert">
                        <label class="form-check-label" for="inlineCheckbox2">Dessert</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="spanish">
                        <label class="form-check-label" for="inlineCheckbox2">Spanish</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="italian">
                        <label class="form-check-label" for="inlineCheckbox2">Italian</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="tapas">
                        <label class="form-check-label" for="inlineCheckbox2">Tapas</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="pasta">
                        <label class="form-check-label" for="inlineCheckbox2">Pasta</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="kebab">
                        <label class="form-check-label" for="inlineCheckbox2">Kebab</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="mexican">
                        <label class="form-check-label" for="inlineCheckbox2">Mexican</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="salad">
                        <label class="form-check-label" for="inlineCheckbox2">Salad</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="indian">
                        <label class="form-check-label" for="inlineCheckbox2">Indian</label>
                    </div>
                </div>


                <button type="submit" class="btn btn-dark btn-block">Save Restaurant</button>
                {{#if errorMessage}}
                <div id="error">
                    <p>{{errorMessage}}</p>
                </div>
                {{/if}}
            </form>

        </div>
    </div>
</div>