<div class="container">
    <h1>TAPACITY</h1>
</div>
<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h2>Look for restaurants</h2>
            <hr>

            <form action="/restaurants/filter" method="POST">

                <div>
                    <p>Which are your preferences today?</p>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="custom-control custom-checkbox image-checkbox">
                            <input type="checkbox" class="custom-control-input" value="60897ebf8ff4b591e6d02305"
                                id="pizza" name="id">
                            <label class="custom-control-label" for="pizza">
                                <img src="./../img/pizza.png" alt="#" class="img-fluid">
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="custom-control custom-checkbox image-checkbox">
                            <input type="checkbox" class="custom-control-input" value="608981fd8ff4b591e6d02310"
                                id="salad" name="id">
                            <label class="custom-control-label" for="salad">
                                <img src="./../img/salad.png" alt="salad" class="img-fluid">
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="custom-control custom-checkbox image-checkbox">
                            <input type="checkbox" class="custom-control-input" id="hamburguer"
                                value="6089801c8ff4b591e6d02307" name="id">
                            <label class="custom-control-label" for="hamburguer">
                                <img src="./../img/hamburguer.png" alt="#" class="img-fluid">
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="custom-control custom-checkbox image-checkbox">
                            <input type="checkbox" class="custom-control-input" value="60897f708ff4b591e6d02306"
                                id="sushi" name="id">
                            <label class="custom-control-label" for="sushi">
                                <img src="./../img/sushi.png" alt="#" class="img-fluid">
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="custom-control custom-checkbox image-checkbox">
                            <input type="checkbox" class="custom-control-input" value="60898da78ff4b591e6d02311"
                                id="noodles" name="id">
                            <label class="custom-control-label" for="noodles">
                                <img src="./../img/noodles-pasta.png" alt="#" class="img-fluid">
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="custom-control custom-checkbox image-checkbox">
                            <input type="checkbox" class="custom-control-input" value="608981598ff4b591e6d0230a"
                                id="veggie" name="id">
                            <label class="custom-control-label" for="veggie">
                                <img src="./../img/veggie.png" alt="#" class="img-fluid">
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="custom-control custom-checkbox image-checkbox">
                            <input type="checkbox" class="custom-control-input" value="608981718ff4b591e6d0230b"
                                id="poke" name="id">
                            <label class="custom-control-label" for="poke">
                                <img src="./../img/poke.png" alt="#" class="img-fluid">
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="custom-control custom-checkbox image-checkbox">
                            <input type="checkbox" class="custom-control-input" value="608981818ff4b591e6d0230c"
                                id="dessert" name="id">
                            <label class="custom-control-label" for="dessert">
                                <img src="./../img/dessert.jpg" alt="#" class="img-fluid">
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="custom-control custom-checkbox image-checkbox">
                            <input type="checkbox" class="custom-control-input" value="608981db8ff4b591e6d0230e"
                                id="italian" name="id">
                            <label class="custom-control-label" for="italian">
                                <img src="./../img/spaghetti.png" alt="italian" class="img-fluid">
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="custom-control custom-checkbox image-checkbox">
                            <input type="checkbox" class="custom-control-input" value="608981a98ff4b591e6d0230d"
                                id="spanish" name="id">
                            <label class="custom-control-label" for="italian">
                                <img src="./../img/paella.png" alt="spanish" class="img-fluid">
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="custom-control custom-checkbox image-checkbox">
                            <input type="checkbox" class="custom-control-input" value="60897e8f8ff4b591e6d02304"
                                id="kebab" name="id">
                            <label class="custom-control-label" for="kebab">
                                <img src="./../img/kebab.png" alt="spanish" class="img-fluid">
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="custom-control custom-checkbox image-checkbox">
                            <input type="checkbox" class="custom-control-input" value="608981ee8ff4b591e6d0230f"
                                id="mexican" name="id">
                            <label class="custom-control-label" for="mexican">
                                <img src="./../img/mexican.png" alt="spanish" class="img-fluid">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Select your area:</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>
                <button type="submit" class="btn btn-dark btn-block">Search</button>
                {{#if errorMessage}}
                <div id="error">
                    <p>{{errorMessage}}</p>
                </div>
                {{/if}}
            </form>

        </div>
    </div>
</div>